.demos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.demos a {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
}

.demos a:hover {
  
  color: green;

}